name: Run python files
on:
 push:
   branches: ["master"]
 pull_request: 
   branches: ["Dev"]

 workflow_dispatch:

jobs:
   Python:
      runs-on: ubuntu-latest

      steps:
        - uses: actions/checkout@v4
        
        - name: use python setup
          uses: actions/setup-python@v5
          with:
            python_version: '3.11'

        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install pandas 
            
        - name: run py file
          run: python3 Series_DataFrames.py
